*{
    text-align: center;
}
button{
    background-color: green;
    color: aliceblue;
    margin: 5px;


}
#taskinput{
    width: 70vw;
    text-align:left ;
}

img{
    width: 400px;
    height: 500px;
}
