*{
    text-align: center;
}
button{
    background-color: green;
    color: aliceblue;
    margin: 5px;
    height: 40px;
    width: 100px;


}
#taskinput{
    width: 300px;
    text-align:left ;
    height: 30px;
}

img{
    width: 400px;
    height: 500px;
}
